<div class="container">
  <p-table [value]="kneeboards">
    <ng-template pTemplate="header">
      <tr>
        <th class="installed-col">Installed</th>
        <th>Aircrafts</th>
        <th class="action-col"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-aircraft>
      <tr>
        <td class="installed-col" [class.installed]="aircraft.installed">
          <i class="pi pi-check"></i>
        </td>
        <td>{{ aircraft.name }}</td>
        <td class="action-col">
          <button pButton *ngIf="aircraft.installed" (click)="disable(aircraft.name)" label="Uninstall"></button>
          <button pButton *ngIf="!aircraft.installed" (click)="enable(aircraft.name)" label="Install"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
